/* ############################# */
/*     Load Google Fonts   */
@font-face {
  font-family: 'Alegreya Sans SC';
    font-style: normal;
      font-weight: 400;
        src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasanssc/v1/6kgb6ZvOagoVIRZyl8XV-KisNWI8qEu_hw_BXmaMF84.woff) format('woff');
	}
@font-face {
  font-family: 'Ubuntu';
    font-style: normal;
      font-weight: 400;
        src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
	}

/* ############################# */


body {
 padding:0px;
 margin:0px;
 min-height:600px;
 min-width:600px;
 font-family: "Alegreya Sans SC";
 font-size:18px;
 background-color:maroon;
}

a, a:visited {
 text-decoration:none;
 color:maroon;
}

a:hover {
 color:red;
}



.menuButton{
 padding-top:20px;
 padding-bottom:20px;
 margin-bottom:40px;

 font-size:24px;
 color:black;
 width:100%;
 display:inline-block;

 transition: background-color .25s;
 -moz-transition: background-color .25s;
 -webkit-transition: background-color .25s;
}

.menuButton:hover {
 background-color: #FFF0C2;
}

#menuContainer {
 position:relative;
 text-align:center;
 width:20%;
 height:100%;
 float:left;
 background-color:white;
}

#copyrightContainer {
 font-size:14px;
 color:white;
 text-align:center;
 margin:0 auto;
}

#haverLogo {
 position:relative;
 display:block;
 margin:0 auto;
 margin-bottom:30px;
 width:150px;
}

#menu {
 position:absolute;
 margin-top:35%;
}

#contentContainer {
 overflow:auto;
 position:relative;
 height:100%;
 width:80%;
 float:right;
}

.content, .nonTextContent {
 overflow:hidden;
 margin:20px;
 border-radius:5px;
 background-color:white;
}

.content {
 font-family:Ubuntu;
 word-spacing:2px;
 padding:40px;
}

.subContent {
 text-align:center;
 padding:20px;
 margin-bottom:10px;
 background-color:#FFDD75;

 transition: background-color .25s;
 -moz-transition: background-color .25s;
 -webkit-transition: background-color .25s;
}

.subContent:hover {
 background-color:#FFE9A8;
}

.subHeader {
 font-family: "Alegreya Sans SC";
 font-size:24px;
 padding-bottom:5px;
 text-align:center;
 width:100%;
}

.header {
 color:white;
 font-size:24px;
 padding-bottom:5px;
 padding-top:25px;
 text-align:center;
 width:100%;
}



#menuFIGLeaf {
 display:inline-block;
 position:relative;
 top:20px;
}

.viewport {
 overflow:hidden;
 position:relative;
 width:100%;
 height:300px;
}

.memberList {
 position:absolute;
 width:100%;
 padding:0px;
 margin:0px;
 list-style-type:none;
}
.memberList li {
 text-align:center;
 padding:8px;
 background-color:white;

 transition: background-color .25s;
 -moz-transition: background-color .25s;
 -webkit-transition: background-color .25s;
}

.memberList a li {
 font-size:20px;
 background-color:#FFD1DC;
}

.memberList li:hover {
 background-color:#FFDD75;
}









